doctype html
html
 head
  title= title
    
  script(type='text/javascript', src='js/libs/d3.v3.min.js')
  script(type='text/javascript', src='js/libs/queue.v1.min.js')
  script(type='text/javascript', src='js/libs/topojson.v0.min.js')

  
  link(href='css/style.css', rel='stylesheet', type='text/css')
 body
   script(type='text/javascript', src='js/app.js')
   
   
